
<div class="container">
  <%= simple_form_for(comment, remote: true) do |f| %>
  <div class="container">
    <%= f.input :content, label:"Leave a comment" %>
    <%= f.button :submit, "Send it !", class: "button-green mb-5" %>
  </div>
  <% end %>
</div>

