
<div class="container">
  <%= simple_form_for(comment, remote: true) do |f| %>
  <div class="container">
    <%= f.input :content, label:"Leave a comment" %>
   <button type="submit" class="button-grey">
    <i class="fas fa-paper-plane"></i> 
    </button>
  </div>
  <% end %>
</div>
