<div class="container"><h1 class="text-center">My chats</h1>
  <% @chatrooms.each do |chatroom| %>
    <div>This is the chatroom <%= link_to chatroom.id, chatroom_path(chatroom) %></div>
  <% end %>
</div>