<div class="mobile-header-container text-center">
  <h4 class="mb-4">Homeboard</h4>

  <div class="mobile-top-toolbar">

    <div>
      <div class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dow6rowa0/image/upload/lw8rrmu3fa05z7qifcxmsqi681p8">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#">Log in/out</a>
        </div>
      </div>
    </div>

    <div class="searchflex">
        <div class="ml-3"><%= form_tag services_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a service"
          %></div>
          <div><%= submit_tag "🔎", class: "btn" %></div>
      <% end %>
    </div>

    </div>

</div>
