<div class="mobile-menu-container">
  <div class="text-center"><i class="fas fa-home"></i><br>Home</div>
  <div class="text-center"><i class="fas fa-comments"></i><br>Messages</div>
  <div class="text-center"><i class="fas fa-plus-circle"></i><br>Add post</div>
  <div class="text-center"><i class="fas fa-building"></i><br>Copro</div>
  <div class="text-center"><i class="fas fa-users"></i><br>Neighbors</div>
</div>
