<div class="mobile-header-container">
  <h4 class="text-center mb-4">Homeboard</h4>

  <div class="mobile-top-toolbar">

    <div>
      <div class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dow6rowa0/image/upload/lw8rrmu3fa05z7qifcxmsqi681p8">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#">Log in/out</a>
        </div>
      </div>
    </div>

    <div>
      <form class="form-inline">
        <div><input class="form-control ml-4" type="search" placeholder="Search something..." aria-label="Search"></div>
        <div><button class="btn searchbutton-navbar" type="submit"><i class="fas fa-search"></i></button></div>
      </form>
    </div>

    </div>

</div>
