<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand mr-4" href="#"><h4>Homeboard</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navlink" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="navlink" href="#">Messages</a>
        </li>
        <li class="nav-item">
          <a class="navlink" href="#">Copro</a>
        </li>
        <li class="nav-item">
          <a class="navlink" href="#">Neighbors</a>
        </li>
        <li class="nav-item">
          <a class="addbutton-navbar" href="#"><i class="fas fa-plus-circle mr-2"></i>Add post</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search something..." aria-label="Search">
        <button class="btn searchbutton-navbar" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>
