<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <button type="button" class="button-red">offres</button>
  <button type="button" class="button-grey">demandes</button>
  <button type="button" class="button-green">green</button>
  <button type="button" class="button-dark-grey">grey</button>
  <button type="button" class="button-red-t">red-t</button>
  <button type="button" class="button-grey-t">grey-t</button>
  <button type="button" class="button-green-t">grey-t</button>
  <button type="button" class="button-dark-grey-t">grey-t</button>
 </div>
