.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-green {
  background-color: #D9EAE7;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  color: $green-homeboard;
}

.alert-red {
  background-color: #F3DBDB;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  color: $red-homeboard;
  position: relative;
}

.alert-link {
  text-decoration: none !important;
  color: $red-homeboard;
}

.alert-link:hover {
  color: rgb(228, 46, 46);
}

.alert-body {
  display: flex;
  justify-content: space-between;
}

.img-copro {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 15px 0px;
}

.alert-cross {
  position: absolute;
  top: 0;
  right: 3px;
}

#alerts {
  height: 65vh;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#alerts::-webkit-scrollbar {
  display: none;
}

