.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-service {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 5px #f7f7f7;
  position:relative;
  margin-bottom: -30px;
  z-index: 1;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-profile-show {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
