.button-red{
  color: white;
  background-color: $red-homeboard;
  border-color: $red-homeboard;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  padding: 5px 12px 5px 12px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 110px;
  &:hover {
    color:white;
    background-color: rgb(224, 75, 75);
    border-color: solid red;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.button-grey {
  color: white;
  background-color: $grey-homeboard;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  padding: 5px 12px 5px 12px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color: white;
    background-color: rgb(224, 223, 223);
    border-color: solid rgb(179, 177, 177);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.button-green {
  background-color: $green-homeboard;
  color: white;
  border-color: #015a51;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  padding: 5px 12px 5px 12px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color:white;
    background-color: #03a090;
    border-color: solid #015a51;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.button-dark-grey {
  background-color: $black-homeboard;
  color: white;
  border-color: #706f6f;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  padding: 5px 12px 5px 12px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 110px;
  &:hover {
    color:white;
    background-color: #4b4949;
    border-color: solid #161616;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.button-red-t {
  background-color: transparent;
  color: $red-homeboard;
  border-color: $red-homeboard;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 12px 5px 12px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 110px;
  text-align: center;
  &:hover {
    color: white;
    background-color: $red-homeboard;
    border-color: $red-homeboard;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.button-grey-t {
  background-color:  transparent;
  color: $grey-homeboard;
  border: 1px solid;
  border-color:$grey-homeboard;
  border-radius: 20px;
  padding: 5px 12px 5px 12px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color: white;
    background-color: $grey-homeboard;
    border-color: $grey-homeboard;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}


.button-green-t {
  background-color:  transparent;
  color: $green-homeboard;
  border: 1px solid;
  border-color:$green-homeboard;
  border-radius: 20px;
  padding: 5px 12px 5px 12px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color: white;
    background-color: $green-homeboard;
    border-color: $green-homeboard;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.button-dark-grey-t {
  background-color:  transparent;
  color: $black-homeboard;
  border: 1px solid;
  border-color:$black-homeboard;
  border-radius: 20px;
  padding: 5px 12px 5px 12px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none !important;
  width: 110px;
  text-align: center;
  &:hover {
    color: white;
    background-color: $black-homeboard;
    border-color: $black-homeboard;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.button-dark-grey-t:hover {
  color: white;
  background-color: $black-homeboard;
  border-color: $black-homeboard;
}

.button-green-lite {
  text-decoration: none !important;
  color: $green-homeboard;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-green-lite:hover {
  text-decoration: none !important;
  color: #03a090;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.swal-button{
  background-color: $green-homeboard;
  &:not([disabled]):hover{
    background-color:$green-homeboard-hover;
  }
}
