// All services card stuff

.card-service {
  display: flex;
  background-color: $white-homeboard;
  box-shadow: 1px 1px 1px #eeeeee;
  align-items: center;
  position: relative;
}

.card-service:hover {
  opacity: 0.8;
}

.card-service-image {
  width: 10rem;
  height: 10rem;
}

.card-service-offer {
  position: absolute;
  height: 100%;
  width: 0.3rem;
  background-color: $red-homeboard;
}

.card-service-demand {
  position: absolute;
  height: 100%;
  width: 0.3rem;
  background-color: $grey-homeboard;
}

.card-service-avatar {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.card-service-text {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

.card-service-title {
  color: $black-homeboard;
  font-size: 1rem;
  font-weight: bold;
}

.card-service-body {
  color: $grey-homeboard;
  font-size: 0.8rem;
}

// All comments card stuff

.card-comment {
  background-color: $white-homeboard;
  border-radius: 10px;
  box-shadow: 1px 1px 1px $grey-homeboard;
  align-items: center;
  position: relative;
  padding: 10px;
}

.card-comment-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: grey;
}

.card-comment-text {
  display: flex;
  flex-direction: column;
}

// All chatrooms card stuff

.card-chatroom {
  display: flex;
  background-color: $white-homeboard;
  align-items: center;
  position: relative;
  padding: 0 0.5rem 0 0;
}

.card-chatroom-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(17, 17, 17);
  margin: 0 1rem;
}

.card-chatroom-text {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  box-sizing: border-box;
  width: calc(100% - 5rem);
}

.card-chatroom-title {
  color: $black-homeboard;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: content-box;
}

.card-chatroom-body {
  color: $grey-homeboard;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.card-chatroom-last-message {
  white-space: nowrap;
  box-sizing: border-box;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-chatroom-date {
  font-style: italic;
  white-space:nowrap;
  width: 4rem;
  text-align: center;
}

.card-chatroom:hover {
  display: flex;
  opacity: 0.8;
}


