#messages {
  border: 1px solid black;
  background-color: white;
  height: 60vh;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.message-container-mine {
  margin:1px 0;
  padding: 3px;
  border-radius: 10px;
  max-width: 400px;
  background-color: $green-homeboard;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.message-other {
  margin:1px 0;
  display: flex;
  align-items: center;
}

.message-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.message-container-other {
  padding: 3px;
  border-radius: 10px;
  max-width: 400px;
  background-color: $grey-homeboard;
}

.message-content {
  width: 100%;
  word-break: break-word;
}

@media(max-width: 920px) {
  .message-container-other {
    max-width: 200px;
  }
  .message-container-mine {
    max-width: 200px;
  }
}