#messages {
  height: 65vh;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

#messages::-webkit-scrollbar {
  display: none;
}

.white-container {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.5);
}

.message-container-mine {
  margin:2px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  background-color: $green-homeboard;
  align-self: flex-end;
  color: white;
}

.message-other {
  margin:2px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.message-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.message-container-other {
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  background-color: $grey-homeboard;
}

.message-content {
  width: 100%;
  word-break: break-word;
}

.message-date {
  display: flex;
  justify-content: flex-end;
  opacity: 0.6;
}

.split-chatbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message_content {
  width: 95%;
  margin-right: 1rem;
}

#message_content {
  border-radius: 20px;
}

.paper-button {
  color: $green-homeboard;
  font-size: 24px;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem  0.5rem;
  border-radius: 50%;

  &:hover {
    opacity:0.8;
    cursor: pointer;
  }
}

@media(max-width: 920px) {
  .message-container-other {
    max-width: 300px;
  }
  .message-container-mine {
    max-width: 300px;
  }
  .split-chatbar {
    width: 93%;
    position: fixed;
    bottom: 50px;
  }
  #messages {
    height: 65vh;
  }
}
