#messages {
  height: 60vh;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.message-container-mine {
  margin:2px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  background-color: $green-homeboard;
  align-self: flex-end;
  color: white;
}

.message-other {
  margin:2px 0;
  display: flex;
  align-items: center;
}

.message-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.message-container-other {
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  background-color: $grey-homeboard;
}

.message-content {
  width: 100%;
  word-break: break-word;
}

.split-chatbar {
  display: grid;
  grid-template-columns: 20fr 1fr;
  grid-gap: 15px;
}

.button-send {
  border:none;
}

@media(max-width: 920px) {
  .message-container-other {
    max-width: 200px;
  }
  .message-container-mine {
    max-width: 200px;
  }
}
