.grid-services {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
}

.grid-col-services {
  grid-column: 100%;
}

@media (max-width: 520px) {
  .grid-services {
  grid-template-columns: repeat(1, 100%);
  }
}