.link-without-style {
    color:             inherit;
    text-decoration:   none;
    &:hover {
      color:           inherit;
      text-decoration: none;
    }
  }

.without-decoration-white a {
  color: #FFFFFF;
  text-decoration: none;
}

.without-decoration {
  text-decoration: none !important;
}