.link-without-style {
    color:             inherit;
    text-decoration:   none;
    &:hover {
      color:           inherit;
      text-decoration: none;
    }
  }

  .boxhead a {
    color: #FFFFFF;
    text-decoration: none;
    }