.mobile-top-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
  h4 {
    margin-bottom: 0 !important;
  }
}

@media(min-width: 1080px) {
  .mobile-top-toolbar {
    display: none;
  }
}

@media(max-width: 1080px) {
  #header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: top 0.3s;
  transition-delay: 0.2s;
  height: 80px;
  z-index: 5;
}
}

#header.hidden {
  top: -80px;
}

@media(max-width: 1080px) {
  .mobile-topspace{
    margin-top:80px;
  }
}

