.wrapper-neighbors {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 4* 15px / 5));
  grid-gap: 15px;
  flex-wrap: wrap;
}

.card-neighbors {
  background-color: $white-homeboard;
  box-shadow: 1px 1px 1px #eeeeee;
  align-items: center;
  position: relative;
  padding:15px;
  line-height:0.9;
}

.card-neighbors:hover {
  opacity: 0.8;
}

.secondary-information {
  color: #6E757C;
  line-height: 1;
  font-style: italic;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
}

.neighbors-avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: rgb(17, 17, 17);
  margin-bottom: 20px;
}

@media(max-width: 1080px) {
  .wrapper-neighbors {
    grid-template-columns: repeat(4, calc(25% - 3 * 15px / 4));
  }
}

@media(max-width: 780px) {
  .wrapper-neighbors {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-gap: 10px;
  }
}

.neighbors-link {
  color: $black-homeboard;
  text-decoration: none !important;
}

.neighbors-link:hover {
  color: $black-homeboard;
  text-decoration: none !important;
}
