.wrapper-neighbors {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 4* 15px / 5));
  grid-gap: 15px;
  flex-wrap: wrap;
}

.card-neighbors {
  background-color: $white-homeboard;
  -webkit-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.5);
  align-items: center;
  position: relative;
  padding:15px;
  line-height:0.9;
  border-radius: 10px;
}

.card-neighbors:hover {
  background-color: rgba(0, 150, 136, 0.3);
}

.secondary-information {
  color: #6E757C;
  line-height: 1;
  font-style: italic;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
}

.neighbors-avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: rgb(17, 17, 17);
  margin-bottom: 20px;
}

@media(max-width: 1080px) {
  .wrapper-neighbors {
    grid-template-columns: repeat(4, calc(25% - 3 * 15px / 4));
  }
}

@media(max-width: 780px) {
  .wrapper-neighbors {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-gap: 10px;
  }
}

.neighbors-link {
  color: $black-homeboard;
  text-decoration: none !important;
}

.neighbors-link:hover {
  color: $black-homeboard;
  text-decoration: none !important;
}


blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 2em 0;
  position: relative;
  font-style: italic;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f7f7f7;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: $green-homeboard;
  text-align: center;
}
