.desktop-menu-container {
  background-color: white;
}

.searchflex {
  display: flex;
}

.navlink {
  vertical-align: auto;
  color: $black-homeboard;
  margin-right: 25px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navlink:hover {
  color: $green-homeboard;
}

.addbutton-navbar {
  background-color: $grey-homeboard;
  line-height: 1;
  padding: 9px 20px;
  border-radius: 20px;
  color: $black-homeboard;
  margin-right: 20px;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.addbutton-navbar:hover {
  background-color: $green-homeboard;
  color: white;
}

.searchbutton-navbar {
  color: $black-homeboard;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: blue;
  border-color: red;
}

.searchbutton-navbar:hover {
  color: $green-homeboard;
}

@media(max-width: 1080px) {
  .desktop-menu-container {
    display: none;
  }
}
