.notification {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: $red-homeboard;
  color: $white-homeboard;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0.5rem;
  border: 1px solid white;
}